/*for custom data-grid*/
.cl-row {
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 1% 0;
}

[cl-grid] {
    min-width: 550px;
}

.cl-row:after {
    content: ' ';
    display: table;
    clear: both;
}

.cl-row-odd {
    background: rgba(234, 234, 234, 0.28);
}


.cl-row:hover {
    cursor: pointer;
}




*[cl-header] {
    position: relative;
    margin-bottom: 5px;
}

.sort-btn {
    position: absolute;
    font-size: 18px;
    top: 3px;
    right: 3px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.reflect-btn {
    -webkit-transform: scale(-1);
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
    transform: scale(-1);
}


.sortable {
    cursor: pointer;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -ms-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s;
}

    .sortable:hover {
        background: rgba(234, 234, 234, 0.28);
    }

*[cl-header]::after {
    content: ' ';
    display: table;
    clear: both;
}

.header {
    height: 80px;
    width: 100%;
}
/*custom*/
[cl-header] {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


[cl-body] * {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

[cl-header] > div:not(:nth-last-child(-1n+1)) {
    border-right: 1px gray solid;
}

.scale-icon {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.active-color {
    color: green;
    -ms-opacity: .5;
    opacity: .5;
}

.noactive-color {
    color: tomato;
    -ms-opacity: .5;
    opacity: .5;
}


.edit-row {
    color: #4384d0;
    font-size: 30px;
    line-height: 0;
    vertical-align: middle;
    -webkit-transition: font-size .3s;
    -moz-transition: font-size .3s;
    -ms-transition: font-size .3s;
    -o-transition: font-size .3s;
    transition: font-size .3s;
}

    .edit-row:hover {
        color: rgb(39, 101, 174);
    }

.remove-row {
    color: #BF6D6D;
    font-size: 30px;
    line-height: 0;
    vertical-align: middle;
    -webkit-transition: font-size .3s;
    -moz-transition: font-size .3s;
    -ms-transition: font-size .3s;
    -o-transition: font-size .3s;
    transition: font-size .3s;
}

    .remove-row:hover {
        color: rgb(185, 67, 67);
    }



.cl-row-selected div {
    /*color: white;*/
    font-weight: bold;
}

[cl-header].row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: table;
}

[cl-caption] {
    float: none;
    display: table-cell;
    height: 100%;
    vertical-align: top;
}


/*Filters*/

[filter-type] .distance-top {
    margin-top: 2px;
}

[filter-type] [uib-dropdown-toggle] {
    width: 100%;
}

[filter-type] [uib-dropdown-menu] p {
    text-align: left;
    padding: 5px 3px;
    margin: 0;
}

    [filter-type] [uib-dropdown-menu] p:hover {
        background: #f9f9f9;
    }

[filter-type] .uib-monthpicker button, [filter-type] .uib-yearpicker button, [filter-type] .uib-daypicker button, [filter-type] .uib-weeks em {
    line-height: 0.5;
    padding: 8px 5px;
    border: none;
    font-size: 10px;
    -webkit-box-shadow: none;
}

    [filter-type] .uib-monthpicker button:hover, [filter-type] .uib-yearpicker button:hover, [filter-type] .uib-daypicker button:hover {
        color: #333;
        background-color: #F9F9F9;
        border-color: transparent;
    }

[filter-type] .btn:focus, [filter-type] .btn:active:focus, [filter-type] .btn-default:active:focus, [filter-type] .btn:focus, [filter-type] .btn-default.active {
    outline: none;
    background-color: #f9f9f9;
}

[filter-type] .text-info {
    color: #333;
}

[filter-type] .btn:active {
    background-image: none;
    outline: 0;
}

[filter-type] [aria-label] {
    font-size: 60%;
}

[filter-type] .uib-weeks .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 0;
    color: inherit;
}

[filter-type] .btn-info:active, [filter-type] .btn-info.active, .btn-info {
    color: #333;
    background-color: #f9f9f9;
}

    [filter-type] .btn-info:active:hover {
        color: #333;
        background-color: #f9f9f9;
        border-color: transparent;
    }

[filter-type] .uib-daypicker button:active {
    outline: none;
}

[filter-type] .uib-daypicker:focus {
    outline: none;
}

[filter-type] .form-control {
    font-size: 10px;
    height: 30px;
    padding: 6px 6px;
}

[filter-type] * {
    border-radius: 0;
}

[filter-type] .uib-monthpicker th button:hover, [filter-type] .uib-yearpicker th button:hover, [filter-type] .uib-daypicker th button:hover {
    background: transparent;
}

[filter-type] .btn-group.dropdown {
    width: 100%;
}

[filter-type] .float-right {
    float: right;
}

[filter-type] [uib-dropdown] {
    font-size: 11px;
}

    [filter-type] [uib-dropdown] .btn {
        padding: 6px 8px;
        font-size: 11px;
        text-transform: capitalize;
    }

    [filter-type] [uib-dropdown] .btn-default:hover, [filter-type] .open > .dropdown-toggle.btn-default {
        background-color: #f9f9f9;
    }

    [filter-type] [uib-dropdown] button {
        text-align: left;
    }

[filter-type] [uib-dropdown-menu] {
    font-size: 11px;
    text-transform: capitalize;
}

[filter-type] .filter-container {
    margin-left: 5px;
}

[filter-type] .button-filter {
    padding: 5px 5px;
    font-size: 11px;
    line-height: 1;
    border-radius: 0;
    width: 50%;
    border: none;
}
[cl-filter-container] .container-date-pickers>div{
        display: inline-block;
        width: 50%;
    }

[cl-caption] {
    -ms-word-break: break-word;
    word-break: break-word;
}
/*popup*/
.cl-popup {
    height: auto !important;
    min-height: 30px;
    text-align: left;
    font-weight: normal;
}

label[cl-popup] {
    margin: 0;
}

.cl-popup:hover {
    cursor: pointer;
}

.popup-box {
    padding: 2px 5px;
    position: absolute;
    z-index: 100;
    background: white;
    border: 1px solid #cccccc;
    margin-top: 2px;
}

    .popup-box > div {
        font-size: 12px;
    }

.animate-popup {
    display: block !important;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: 1;
}

.filter-container {
    display: table-cell;
    vertical-align: bottom;
    bottom: 5px;
    width: 100vh;
}

.animate-popup.ng-hide {
    opacity: 0;
    z-index: -1000;
    display: block !important;
}

@media only screen and (max-width: 995px) {

    [cl-header] > div {
        padding: 0;
        padding-right: 7px;
        font-size: 11px;
        text-transform: uppercase;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    [cl-body] {
        font-size: 12px;
    }

    .scale-icon {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .sort-btn {
        position: absolute;
        font-size: 10px;
        top: 0;
        right: 1px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        cursor: pointer;
    }

    .reflect-btn {
        -webkit-transform: scale(-1);
        -moz-transform: scale(-1);
        -ms-transform: scale(-1);
        -o-transform: scale(-1);
        transform: scale(-1);
    }

    .remove-row {
        font-size: 20px;
    }

        .remove-row:hover {
            color: red;
            font-size: 30px;
        }

    .edit-row {
        font-size: 20px;
    }

        .edit-row:hover {
            color: blue;
            font-size: 30px;
        }

    /*filter*/
    [filter-type] .filter-container {
        padding-left: 5px;
    }

    [filter-type] .form-control {
        height: 25px;
    }
    [filter-type] .btn {
        line-height: 1;
    }
    .popup-box > div {
        font-size: 10px;
    }
}
