@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/module/grid-credo-lab.js"></script>
<script src="~/Scripts/module/app-module.js"></script>

<div ng-app="app" ng-controller="global">

    <div cl-grid data="data" class="row" id="name1" multiselect>
        <div cl-header local="false" sort-action="sort">
            <div cl-caption sortable field="id" class="col-md-6">Id</div>
            <div cl-caption sortable field="name" class="col-md-6">Name</div>
        </div>
        <div cl-body>
            <div>{{header}}</div>
            <div class="col-md-6">{{item.id}}</div>
            <div class="col-md-6" ng-style="index==item.name?{'color':'blue'}:{}">{{item.name}} - {{index}}</div>
        </div>
    </div>

    <div cl-grid data="data1" class="row" id="name2">
        <div cl-header local="false" sort-action="sort">
            <div cl-caption sortable field="id" class="col-md-6">Id</div>
            <div cl-caption sortable field="name" class="col-md-6">Name</div>
        </div>
        <div cl-body>
            <div>{{header}}</div>
            <div class="col-md-6">{{item.id}}</div>
            <div class="col-md-6" ng-style="index==item.name?{'color':'blue'}:{}">{{item.name}} - {{index}}</div>
        </div>
    </div>

    <div class="row">Grid -1 = Multiselect</div>

    <div class="row" ng-repeat="item in selctedItem1">
        <div class="col-md-6">{{item.id}}</div>
    </div>
    <div class="row">Grid -1 = {{selctedItem1.name}}</div>
    <div class="row">Grid -2 = {{selctedItem2.name}}</div>


    <button ng-click="get()">get all</button>
</div>